.classpath
.project
.settings

.idea
*.iml

.vscode/

target
debug/
release/

*.cmd
*.pdb
*.rs.bk

nb-configuration.xml

nbactions-unit-test.xml
config.json
config_single_server.json
dependency-reduced-pom.xml

.DS_Store
Thumbs.db
